# IDE files
.vscode/

# Environment files
env/

# Bytecode
__pycache__/

# Datafiles
*.dat
*.h5
model.json
*.tar.gz
*.png
*.jpg

# LaTex files
reports/*.aux
reports/*.fdb_latexmk
reports/*.fls
reports/*.synctex.gz
reports/*.log
reports/*.pdf
