# IDE files
.vscode/

# Environment files
env/
.env

# Bytecode
__pycache__/

# Datafiles
*.dat
*.h5
*.tar.gz
*.gz
*.tar
*.png
*.jpg
logs/*
models/*.json
~$*.xls*
out.csv

# LaTex files
reports/*.aux
reports/*.fdb_latexmk
reports/*.fls
reports/*.synctex.gz
reports/*.log
reports/*.pdf
