# IDE files
.vscode/

# Environment files
env/

# Bytecode
__pycache__/

# Datafiles
*.dat
*.h5
model.json
*.tar.gz
*.jpg

# LaTex files
documents/*.aux
documents/*.fdb_latexmk
documents/*.fls
documents/*.synctex.gz
documents/*.log
documents/*.pdf
